---
title: BAT tech team guide
---

# BAT tech team guide

Welcome to the guide for Become a Teacher tech team. This site is used internally in the Department for Education by the Candidate, ProVendor, and Publish & Register teams.

## Service specific documentation

This is documentation pulled directly from the various repositories.

<% service_docs.each do |service_doc| %>

### <%= service_doc[:title] %>

<ul class='govuk-list'>
<% service_doc[:pages].each do |page| %>
  <li><%= link_to page[:title], page[:path] %></li>
<% end %>
</ul>

<% end %>
