---
title: Teacher Services tech docs
---

# Teacher Services technical documentation

Welcome to the technical documentation for apps and libraries in Teacher Services. This site is used internally in the Department for Education.

## Repositories we own

| Name | URL | Team |
| --- | --- | --- |
| Apply for teacher training | [DFE-Digital/apply-for-teacher-training](https://github.com/DFE-Digital/apply-for-teacher-training) | Candidate & Provendor |
| Apply for teacher training tests | [DFE-Digital/apply-for-teacher-training-tests](https://github.com/DFE-Digital/apply-for-teacher-training-tests) | Candidate & Provendor |
| Apply ops dashboard | [DFE-Digital/apply-ops-dashboard](https://github.com/DFE-Digital/apply-ops-dashboard) | Candidate & Provendor |
| BAT tech team guide | [DFE-Digital/bat-tech-guide](https://github.com/DFE-Digital/bat-tech-guide) | Publish/Register, Candidate & Provendor |
| Find teacher training | [DFE-Digital/find-teacher-training](https://github.com/DFE-Digital/find-teacher-training) | Candidate |
| Find teacher training tests | [DFE-Digital/find-teacher-training-tests](https://github.com/DFE-Digital/find-teacher-training-tests) | Candidate |
| GOV.UK Markdown | [DFE-Digital/govuk_markdown](https://github.com/DFE-Digital/govuk_markdown) | Candidate & Provendor |
| Publish teacher training | [DFE-Digital/publish-teacher-training](https://github.com/DFE-Digital/publish-teacher-training) | Publish & Register |
| Register trainee teachers | [DFE-Digital/register-trainee-teachers](https://github.com/DFE-Digital/register-trainee-teachers) | Publish & Register |
| Teacher Training API | [DFE-Digital/teacher-training-api](https://github.com/DFE-Digital/teacher-training-api) | Publish & Register |
| Teaching vacancies | [DFE-Digital/teaching-vacancies](https://github.com/DFE-Digital/teaching-vacancies) | Teaching vacancies |
| Get Into Teaching Application | [DFE-Digital/get-into-teaching-app](https://github.com/DFE-Digital/get-into-teaching-app) | Get Into Teaching |
| Get Into Teaching API | [DFE-Digital/get-into-teaching-api](https://github.com/DFE-Digital/get-into-teaching-api) | Get Into Teaching |
| Get Teacher Training Adviser | [DFE-Digital/get-teacher-training-adviser-service](https://github.com/DFE-Digital/get-teacher-training-adviser-service) | Get Into Teaching |
| Get Into Teaching Asset Manager | [DFE-Digital/GITISContent](https://github.com/DFE-Digital/GITISContent) | Get Into Teaching |
| Get School Experience | [DFE-Digital/schools-experience](https://github.com/DFE-Digital/schools-experience) | Get School Experience |
| Monitoring | [DFE-Digital/cf-monitoring](https://github.com/DFE-Digital/cf-monitoring) | Teacher Services Infrastructure |
| Github Actions | [DFE-Digital/github-actions](https://github.com/DFE-Digital/github-actions) | Teacher Services Infrastructure |
| Infrastructure | [DFE-Digital/bat-infrastructure](https://github.com/DFE-Digital/bat-infrastructure) | Teacher Services Infrastructure |
| Uptime | [DFE-Digital/teacher-services-upptime](https://github.com/DFE-Digital/teacher-services-upptime) | Teacher Services Infrastructure |
| Database of Qualified Teachers | [DFE-Digital/database-of-qualified-teachers](https://github.com/DFE-Digital/database-of-qualified-teachers) | Teaching Regulation Agency |
| Find a lost TRN | [DFE-Digital/find-a-lost-trn](https://github.com/DFE-Digital/find-a-lost-trn) | Teaching Regulation Agency |
| Qualified Teachers API | [DFE-Digital/qualified-teachers-api](https://github.com/DFE-Digital/qualified-teachers-api) | Teaching Regulation Agency |
| Teacher Misconduct System | [DFE-Digital/teacher-misconduct-system](https://github.com/DFE-Digital/teacher-misconduct-system) | Teaching Regulation Agency |

## Table of contents

### Operating a service

- [How to categorise technical incidents](/operating-a-service/how-to-categorise-technical-incidents.html)
- [Incident playbook](/operating-a-service/incident-playbook.html)

<% pages_by_category.pages.each do |category, pages| %>

### <%= category %>

<ul class='govuk-list'>
<% pages.each do |page| %>
  <li><%= link_to page.data.original_title || page.data.title, page.path %></li>
<% end %>
</ul>

<% end %>

## External contributions

It's highly recommended and encouraged to contribute to open source projects that we use. Here's some of the things we've done:

- Added [new tag styles to the Design System](https://github.com/alphagov/govuk-frontend/pull/1711)
- Created [GOV.UK Design System community resources](https://github.com/tijmenb/design-system-community-resources) repo
- Improved the [grammar in Design System documentation](https://github.com/alphagov/govuk-design-system/pull/1026)
- Improved the [DfE form builder](https://github.com/DFE-Digital/govuk_design_system_formbuilder)
- Improved the [GOV.UK Notify ruby client](https://github.com/alphagov/notifications-ruby-client/pull/89)
- Improved the [GOV.UK Notify Rails integration](https://github.com/dxw/mail-notify/pull/11)
- Improved the [GOV.UK Rubocop configuration](https://github.com/alphagov/rubocop-govuk/pull/17)
- Improved the [MoJ frontend toolkit](https://github.com/ministryofjustice/moj-frontend/pull/87)
- Improved the [tech docs template docs](https://github.com/alphagov/tdt-documentation/pull/81)
