---
title: BAT tech team guide
---

# BAT tech team guide

Welcome to the guide for Becoming a Teacher tech team. This site is used internally in the Department for Education by the Candidate, ProVendor, and Publish & Register team.

## Repositories we own

| Name | URL | Team |
| --- | --- | --- |
| Apply for teacher training | [DFE-Digital/apply-for-teacher-training](https://github.com/DFE-Digital/apply-for-teacher-training) | Candidate & Provendor |
| Apply for teacher training tests | [DFE-Digital/apply-for-teacher-training-tests](https://github.com/DFE-Digital/apply-for-teacher-training-tests) | Candidate & Provendor |
| Apply ops dashboard | [DFE-Digital/apply-ops-dashboard](https://github.com/DFE-Digital/apply-ops-dashboard) | Candidate & Provendor |
| BAT tech team guide | [DFE-Digital/bat-tech-guide](https://github.com/DFE-Digital/bat-tech-guide) | Publish/Register, Candidate & Provendor |
| Find teacher training | [DFE-Digital/find-teacher-training](https://github.com/DFE-Digital/find-teacher-training) | Candidate |
| Find teacher training tests | [DFE-Digital/find-teacher-training-tests](https://github.com/DFE-Digital/find-teacher-training-tests) | Candidate |
| GOV.UK Markdown | [DFE-Digital/govuk_markdown](https://github.com/DFE-Digital/govuk_markdown) | Candidate & Provendor |
| Register trainee teachers | [DFE-Digital/register-trainee-teachers](https://github.com/DFE-Digital/register-trainee-teachers) | Publish/Register |
| Teacher Training API | [DFE-Digital/teacher-training-api](https://github.com/DFE-Digital/teacher-training-api) | Publish/Register |

## Service specific documentation

This is documentation pulled directly from the various repositories.

<% service_docs.each do |service_doc| %>

### <%= service_doc[:title] %>

<ul class='govuk-list'>
<% service_doc[:pages].each do |page| %>
  <li><%= link_to page[:title], page[:path] %></li>
<% end %>
</ul>

<% end %>
