---
title: Teacher Services tech docs
---

# Teacher Services technical documentation

Welcome to the technical documentation for apps and libraries in Teacher Services. This site is used internally in the Department for Education.

## Rails apps and dependencies

| repo | rails | ruby | dfe-analytics | dfe-reference-data | dfe-autocomplete |
| --- | --- | --- | --- | --- | --- | --- |
<% ruby_service_profiles.compact.each do |profile| %>
| <%= [link_to(profile.name, "https://github.com/#{profile.name}") , profile.rails, profile.ruby, profile.dfe_analytics, profile.dfe_reference_data, profile.dfe_autocomplete].join(' | ') %> |
<% end %>

## C# apps and dependencies

| repo | framework | dfe-analytics-net |
| --- | --- | --- |
<% cs_service_profiles.compact.each do |profile| %>
| <%= [link_to(profile.name, "https://github.com/#{profile.name}") , profile.target_framework, profile.dfe_analytics_version].join(' | ') %> |
<% end %>

## Table of contents

### Operating a service

- [How to categorise technical incidents](/operating-a-service/how-to-categorise-technical-incidents.html)
- [Incident playbook](/operating-a-service/incident-playbook.html)

<% pages_by_category.pages.each do |category, pages| %>

### <%= category %>

<ul class='govuk-list'>
<% pages.each do |page| %>
  <li><%= link_to page.data.original_title || page.data.title, page.path %></li>
<% end %>
</ul>

<% end %>

## External contributions

It's highly recommended and encouraged to contribute to open source projects that we use. Here's some of the things we've done:

- Added [new tag styles to the Design System](https://github.com/alphagov/govuk-frontend/pull/1711)
- Created [GOV.UK Design System community resources](https://github.com/tijmenb/design-system-community-resources) repo
- Improved the [grammar in Design System documentation](https://github.com/alphagov/govuk-design-system/pull/1026)
- Improved the [DfE form builder](https://github.com/DFE-Digital/govuk_design_system_formbuilder)
- Improved the [GOV.UK Notify ruby client](https://github.com/alphagov/notifications-ruby-client/pull/89)
- Improved the [GOV.UK Notify Rails integration](https://github.com/dxw/mail-notify/pull/11)
- Improved the [GOV.UK Rubocop configuration](https://github.com/alphagov/rubocop-govuk/pull/17)
- Improved the [MoJ frontend toolkit](https://github.com/ministryofjustice/moj-frontend/pull/87)
- Improved the [tech docs template docs](https://github.com/alphagov/tdt-documentation/pull/81)
